.Button button{
    /* display: inline; */
    padding: 0.25rem 0.5rem;
    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: whitesmoke;
    
}

.Button logo{
    height: 5px!important;
}

.Button button:active, .Button button:focus{
    border: tomato;
}

.Button button:hover{
    cursor: pointer;
}

/* .FormWrapper {
    
     
        top: 3rem;
        right: 0;
} */